.modify-quantity-header{
  display: flex;
  height: 48px;
  font-size: 14px;
  padding-bottom: 11px;
  border-bottom: 1px solid #F6F2F2;
}
.modify-quantity-header img{
  padding-right: 16px;
}
.modify-quantity-name{
  color: #212C3D;
  margin: 0;
  padding: 0;
}
.modify-quantity-amount{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.modify-quantity-footer{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modify-quantity-delete  {
  cursor: pointer;
}
.modify-quantity-delete, .modify-quantity-quantity{
  display: flex;
  align-items: center;
}
.modify-quantity-delete img{
  width: 18px;
  height: 20px;
  margin-right: 11px;
  cursor: pointer;
}
.modify-quantity-quantity img{
  cursor: pointer;
}
.modify-quantity-quantity .quantity + .quantity{
  margin-left: 7.35px;
}