.ui-icon {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #edf2f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.ui-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  height: 16px;
  width: 16px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ee6f44;
}

.ui-title h1 {
  margin: 0;
  padding: 20px 0;
}

.ui-btn {
  height: 31px;
  border-radius: 4px;
  padding: 8px 19px;
  outline: none;
  border: none;
}
.ui-category-icon {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-show {
  display: block;
}

.ui-hide {
  display: none;
}
